div.bar {
    display: inline-block;
    margin-right: 2px;
    width: 20px;
    height: 75px;   /* We'll override this later */
    background-color: teal;
}

svg .pumpkin {
    fill: #607D8B;
    stroke: #B0BEC5;
    stroke-width: 3;
}
